@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url("./paw background.jpeg");
}
.Cat {
    display: flex;
    justify-content: center;
    text-align: center;

    gap: 70px;
    flex-wrap: wrap;
    margin: 0;
    border: 2px solid red;
}
.cat-container{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    border: 10px solid darkslategray;
    background-color: white;
    border-radius: 8%;
    box-shadow: 10px 10px 25px grey;
    font-family: 'Roboto', sans-serif;
}

.cat-container img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 15%;

}


.navBar {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    font-weight: bold;
    border-top-left-radius: 30px;

}
.addBasket:hover{
    background-color: lightblue;
}

.App {
    display: flex;
    justify-content: right;
}

.modal {
    width: 500px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.modal-title {
    display:flex;
    justify-content: center ;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.modal-body {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    /* border: 10px solid darkslategray;
    border-radius: 8%;
    box-shadow: 10px 10px 25px grey; */
    font-family: 'Roboto', sans-serif;
}

.modal-body img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 15%;
    font-family: 'Roboto', sans-serif;
}

.basketButton {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    position: absolute;
}

.checkout:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
.checkout {
    border: none;
    background-color: black;
    color: white;


}
.modal-bottom {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    position: absolute;
    right: 30px;
}

.delete {
    border: none;
    background-color: red;
    border-radius: 100%;
    font-size: 16px;
    font-weight: bold;
    color: white;

}
