@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  background-image: url("./paw background.jpeg");
  
}
.Cat {
  display: flex;
  justify-content: center;
  text-align: center;

  gap: 70px;
  flex-wrap: wrap;
  margin: 0;
  
}
.cat-container {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  border: 10px solid darkslategray;
  background-color: white;
  border-radius: 8%;
  /* box-shadow: 10px 10px 25px grey; */
  font-family: 'Lobster', cursive;
}

.cat-container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 15%;
  margin: 0 10px;
}

.cat_name {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
  letter-spacing: 2px;
  font-family: 'Lobster', cursive;
}

.species{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.price{
    letter-spacing: 1.3px;
}

.navBar {
  display: flex;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border-top-left-radius: 30px;
}
.addBasket:hover {
  background-color: white;
  color: black;
}

.addBasket {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    padding: 5px;
    border: 2px solid black;
}

.App {
  display: flex;
  justify-content: right;
}

.modal {
  width: 500px;
  background-color: white;
  font-family: 'Lobster', cursive;
}

.modal-title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'Lobster', cursive;
}

.modal-body {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  /* border: 10px solid darkslategray;
    border-radius: 8%;
    box-shadow: 10px 10px 25px grey; */
    font-family: 'Lobster', cursive;
}

.modal-body img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 15%;
  font-family: 'Lobster', cursive;
}

.basketButton {
  display: flex;
  justify-content: flex-end;
  font-family: 'Lobster', cursive;
  height: 30px;
  position: absolute;
}

.checkout:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.checkout {
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border-radius: 1px;
  


}
.modal-bottom {
  display: flex;
  justify-content: flex-end;
  font-family: 'Lobster', cursive;
  height: 30px;
  position: absolute;
  right: 30px;
}

.delete {
  border: none;
  background-color: red;
  border-radius: 100%;
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-family: 'Lobster', cursive;
}


