
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Cat {
   border: 2px solid red;

}

.wrapper{
    border: 2px solid blue;
    width: 80%;
    margin: 0 auto;
    background-color: #F9DCC4;

}

.cat-container{
    width: 25%;
    border: 10px solid #FEC89A; 
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

.cat-container img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.addBasket:hover{
    background-color: blue;
}
/* 
* {
	margin:opx;
	padding:0px;
	
}
img{
	float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
	border-radius: 10px;

}
.Cat{
	display:flex;
	flex-direction: column;

} */

.App {
    display: flex;
    justify-content: right;
}

.modal {
    width: 500px;
    background-color: white;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid blue;
    border-bottom: 1px solid black;
}
